.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.app-container {
  padding: 0!important;
}

.drawer-header {
  display: 'flex';
  align-items: 'center';
  justify-content: 'flex-end';
  padding: 20px;
}

.overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.overlay .loading-image {
  width: auto;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: block;
  top: 45%;
}
.router-container {
  margin-top: 15px;
}

.not-found-box {
  text-align: center;
  margin-top: 20%;
}

.link {
  flex: 1 1 auto;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.page-title {
  font-size: 2.25rem !important;
  line-height: 1.22222 !important;
  letter-spacing: 0.2px !important;
  font-weight: 800 !important;
}

.page-subtitle {
  font-size: 1.25rem !important;
  line-height: 0.7 !important;
  letter-spacing: 0.1px !important;
  font-weight: 800 !important;
}
th, .table-cell-header {
  font-weight: bold!important;
}